In [307]:
import pandas as pd

In [308]:
df = pd.read_csv("fires.csv")

<ipython-input-308-e1bd32e628f4>:1: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("fires.csv")

In [309]:
df

,FIRE_NAME,FIRE_SIZE,STATE,LATITUDE,LONGITUDE,FIRE_YEAR,discovery_date,contain_date
0,FOUNTAIN,0.10,CA,40.036944,-121.005833,2005,2005-02-02 00:00:00,2005-02-02 00:00:00
1,PIGEON,0.25,CA,38.933056,-120.404444,2004,2004-05-12 00:00:00,2004-05-12 00:00:00
2,SLACK,0.10,CA,38.984167,-120.735556,2004,2004-05-31 00:00:00,2004-05-31 00:00:00
3,DEER,0.10,CA,38.559167,-119.913333,2004,2004-06-28 00:00:00,2004-07-03 00:00:00
4,STEVENOT,0.10,CA,38.559167,-119.933056,2004,2004-06-28 00:00:00,2004-07-03 00:00:00
...,...,...,...,...,...,...,...,...
1880460,ODESSA 2,0.01,CA,40.481637,-122.389375,2015,2015-09-26 00:00:00,2015-09-26 00:00:00
1880461,NaN,0.20,CA,37.617619,-120.938570,2015,2015-10-05 00:00:00,NaN
1880462,NaN,0.10,CA,37.617619,-120.938570,2015,2015-05-02 00:00:00,NaN
1880463,NaN,2.00,CA,37.672235,-120.898356,2015,2015-10-14 00:00:00,NaN
1880464,BARKER BL BIG_BEAR_LAKE_,0.10,CA,34.263217,-116.830950,2015,2015-03-14 00:00:00,NaN

# Q1. Find the dimensions of the DF.

In [310]:
df.shape

(1880465, 8)

In [311]:
df.columns

Index(['FIRE_NAME', 'FIRE_SIZE', 'STATE', 'LATITUDE', 'LONGITUDE', 'FIRE_YEAR',
       'discovery_date', 'contain_date'],
      dtype='object')

## Make the colnames lowercase.

In [312]:
df.columns = df.columns.str.lower()

In [313]:
df.columns

Index(['fire_name', 'fire_size', 'state', 'latitude', 'longitude', 'fire_year',
       'discovery_date', 'contain_date'],
      dtype='object')

# Q2. Rename the column `fire_size` to `acres_burned`.

In [314]:
df.rename(columns={'fire_size' : 'acres_burned'},inplace=True)
df.columns

Index(['fire_name', 'acres_burned', 'state', 'latitude', 'longitude',
       'fire_year', 'discovery_date', 'contain_date'],
      dtype='object')

In [315]:
df['fire_name']

0                           FOUNTAIN
1                             PIGEON
2                              SLACK
3                               DEER
4                           STEVENOT
                     ...
1880460                     ODESSA 2
1880461                          NaN
1880462                          NaN
1880463                          NaN
1880464    BARKER BL  BIG_BEAR_LAKE_
Name: fire_name, Length: 1880465, dtype: object

# Q3. Convert the data in the `fire_name` column such that the data starts with a capital letter. (ie `PIGEON LAKE` -> `Pigeon lake`)

In [316]:
df["fire_name"].str.isupper()
df["fire_name"] = df["fire_name"].str.title()
df.head()

,fire_name,acres_burned,state,latitude,longitude,fire_year,discovery_date,contain_date
0,Fountain,0.10,CA,40.036944,-121.005833,2005,2005-02-02 00:00:00,2005-02-02 00:00:00
1,Pigeon,0.25,CA,38.933056,-120.404444,2004,2004-05-12 00:00:00,2004-05-12 00:00:00
2,Slack,0.10,CA,38.984167,-120.735556,2004,2004-05-31 00:00:00,2004-05-31 00:00:00
3,Deer,0.10,CA,38.559167,-119.913333,2004,2004-06-28 00:00:00,2004-07-03 00:00:00
4,Stevenot,0.10,CA,38.559167,-119.933056,2004,2004-06-28 00:00:00,2004-07-03 00:00:00

# Q4. Drop unnecessary rows- having fire size less than 10 acres.

In [317]:
to_drop = df[df["acres_burned"] < 10].index

In [318]:
to_drop.shape

(1606295,)

In [319]:
df.drop(to_drop, inplace=True)

In [320]:
df['acres_burned'].min()

10.0

# Q5

In [321]:
df.duplicated().sum()

47

In [322]:
df.shape

(274170, 8)

In [323]:
df.drop_duplicates(inplace=True)

In [333]:
df.shape

(274123, 8)

In [325]:
df.duplicated().sum()

0

In [334]:
df.dtypes

fire_name          object
acres_burned      float64
state              object
latitude          float64
longitude         float64
fire_year           int64
discovery_date     object
contain_date       object
dtype: object

In [344]:
df[['discovery_date','contain_date']].astype()

              discovery_date         contain_date
16       2004-10-06 00:00:00  2004-10-21 00:00:00
17       2004-10-13 00:00:00  2004-10-17 00:00:00
25       2004-07-20 00:00:00  2004-07-20 00:00:00
37       2005-01-27 00:00:00  2005-01-28 00:00:00
39       2005-02-12 00:00:00  2005-02-13 00:00:00
...                      ...                  ...
1880387  2015-07-04 00:00:00  2015-07-04 00:00:00
1880399  2009-05-03 00:00:00  2009-05-03 00:00:00
1880411  2009-06-19 00:00:00  2009-06-19 00:00:00
1880419  2010-05-29 00:00:00                  NaN
1880441  2015-12-07 00:00:00                  NaN

[274123 rows x 2 columns]