<a href="https://colab.research.google.com/github/Raaj-4320/Data-science-and-machine-learning/blob/main/Welcome_to_Colaboratory.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [130]:
import pandas as pd

In [131]:
df = pd.read_csv("fires.csv")

<ipython-input-131-e1bd32e628f4>:1: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("fires.csv")

In [132]:
df

,FIRE_NAME,FIRE_SIZE,STATE,LATITUDE,LONGITUDE,FIRE_YEAR,discovery_date,contain_date
0,FOUNTAIN,0.10,CA,40.036944,-121.005833,2005,2005-02-02 00:00:00,2005-02-02 00:00:00
1,PIGEON,0.25,CA,38.933056,-120.404444,2004,2004-05-12 00:00:00,2004-05-12 00:00:00
2,SLACK,0.10,CA,38.984167,-120.735556,2004,2004-05-31 00:00:00,2004-05-31 00:00:00
3,DEER,0.10,CA,38.559167,-119.913333,2004,2004-06-28 00:00:00,2004-07-03 00:00:00
4,STEVENOT,0.10,CA,38.559167,-119.933056,2004,2004-06-28 00:00:00,2004-07-03 00:00:00
...,...,...,...,...,...,...,...,...
1880460,ODESSA 2,0.01,CA,40.481637,-122.389375,2015,2015-09-26 00:00:00,2015-09-26 00:00:00
1880461,NaN,0.20,CA,37.617619,-120.938570,2015,2015-10-05 00:00:00,NaN
1880462,NaN,0.10,CA,37.617619,-120.938570,2015,2015-05-02 00:00:00,NaN
1880463,NaN,2.00,CA,37.672235,-120.898356,2015,2015-10-14 00:00:00,NaN
1880464,BARKER BL BIG_BEAR_LAKE_,0.10,CA,34.263217,-116.830950,2015,2015-03-14 00:00:00,NaN

# Q1. Find the dimensions of the DF.

In [133]:
df.shape

(1880465, 8)

In [134]:
df.columns

Index(['FIRE_NAME', 'FIRE_SIZE', 'STATE', 'LATITUDE', 'LONGITUDE', 'FIRE_YEAR',
       'discovery_date', 'contain_date'],
      dtype='object')

## Make the colnames lowercase.

In [135]:
df.columns = df.columns.str.lower()

In [136]:
df.columns

Index(['fire_name', 'fire_size', 'state', 'latitude', 'longitude', 'fire_year',
       'discovery_date', 'contain_date'],
      dtype='object')

# Q2. Rename the column `fire_size` to `acres_burned`.

In [137]:
df.rename(columns={'fire_size' : 'acres_burned'},inplace=True)
df.columns

Index(['fire_name', 'acres_burned', 'state', 'latitude', 'longitude',
       'fire_year', 'discovery_date', 'contain_date'],
      dtype='object')

In [138]:
df['fire_name']

0                           FOUNTAIN
1                             PIGEON
2                              SLACK
3                               DEER
4                           STEVENOT
                     ...
1880460                     ODESSA 2
1880461                          NaN
1880462                          NaN
1880463                          NaN
1880464    BARKER BL  BIG_BEAR_LAKE_
Name: fire_name, Length: 1880465, dtype: object

# Q3. Convert the data in the `fire_name` column such that the data starts with a capital letter. (ie `PIGEON LAKE` -> `Pigeon lake`)

In [139]:
df["fire_name"].str.isupper()
df["fire_name"] = df["fire_name"].str.title()
df.head()

,fire_name,acres_burned,state,latitude,longitude,fire_year,discovery_date,contain_date
0,Fountain,0.10,CA,40.036944,-121.005833,2005,2005-02-02 00:00:00,2005-02-02 00:00:00
1,Pigeon,0.25,CA,38.933056,-120.404444,2004,2004-05-12 00:00:00,2004-05-12 00:00:00
2,Slack,0.10,CA,38.984167,-120.735556,2004,2004-05-31 00:00:00,2004-05-31 00:00:00
3,Deer,0.10,CA,38.559167,-119.913333,2004,2004-06-28 00:00:00,2004-07-03 00:00:00
4,Stevenot,0.10,CA,38.559167,-119.933056,2004,2004-06-28 00:00:00,2004-07-03 00:00:00

# Q4. Drop unnecessary rows- having fire size less than 10 acres.

In [140]:
to_drop = df[df["acres_burned"] < 10].index

In [141]:
to_drop.shape

(1606295,)

In [142]:
df.drop(to_drop, inplace=True)

In [143]:
df['acres_burned'].min()

10.0

# Q5

In [144]:
df.duplicated().sum()

47

In [146]:
df.duplicated().sum()

47

In [147]:
df.drop_duplicates(inplace=True, keep='first')

In [148]:
df.duplicated().sum()

0